<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="border-bottom:  1px solid lightgrey;">
    <div class="container-fluid navbar-spy">
        <div class="navbar-header">
          
                <img class="navbar-left" src="<%= asset_path('Manifold_long_transparent.png') %>" style="width: 230px; padding: 10px 0;">
          
      
                 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" style="padding-top: 9px;">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding-top: 9px;">
        <div class="col-md-7 col-md-offset-2">
            <ul class="nav nav-justified">
                <li class="active"><a href="#banner-row">Technology</a></li>
                <li><a href="#jobs-row">Jobs</a></li>
                <li><a href="#team-row">Team</a></li>
                <li><a href="#contact-row">Contact</a></li>
            </ul>
        </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div id="banner-row" class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="col-md-6 col-md-offset-3">
                <img src="<%= asset_path('Manifold_square_transparent.png') %>" class="img-responsive"/>
            </div>
        </div>
        <div class="col-md-12 text-center">
            <h2>Manifold empowers you to maintain sole control over your sensitive data.</h2>
        </div>
    </div>

    <div id="jobs-row" class="row">
        <h1 class="text-center">
            <img src="<%= asset_path('header_line.png')%>" style="padding: 0 5px;">
            <span class="title">Jobs</span>
            <img src="<%= asset_path('header_line.png')%>" style="padding: 0 5px;">
        </h1>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            <h3>Security Engineer:</h3>
                            a skilled software engineer who enjoys security work and is an expert in systems security, applications security, network security, cryptography or automated malware analysis.
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                        <h4>This role will focus on implementing a new cryptographic protocol as a platform for secure stor-age and multiparty computation.
                        <br><br>
                            <span>Responsibilities:</span>
                                <ul>
                                    <li>Designing and applying advanced security techniques</li>
                                    <li>Developing a platform to implement a new cryptographic protocol</li>
                                    <li>Deploying advanced security and cryptographic systems</li>
                                </ul>
                        <br>
                            <span>Minimum Qualifications:</span>
                                <ul>
                                    <li>US Citizen or Green Card holder</li>
                                    <li>BS in Computer Science or equivalent practical experience</li>
                                    <li>2 years of experience designing and implementing software systems</li>
                                </ul>
                        <br>
                            <span>Preferred Qualifications:</span>
                                <ul>
                                    <li>MS or PhD in Computer Science or Math</li>
                                    <li>4 years of experience designing and implementing software systems in Python, C, C++ and/or Java, including experience designing security solutions for operating systems and distributed systems</li>
                                    <li>Significant experience in applications security, cryptography, network security, systems securi-ty or malware analysis</li>
                                </ul>
                        </h4>
                        <br>
                        <div class="text-center">
                            <button type="button" class="btn btn-job"><a href="mailto:jobs@manifoldsecurity.com">Come work with us: jobs@manifoldsecurity.com</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end of col-md-6 job desc PART 1   -->

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            <h3>Server Developer:</h3>
                            a skilled developer who enjoys security-related work and is adept at developing server side applications.
                        </a> 
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <h4>This role will focus on building and deploying cloud based applications to implement a new cryp-tographic protocol as a platform for secure storage and multiparty computation.
                        <br><br>
                            <span>Responsibilities:</span>
                                <ul>
                                    <li>Building RESTful web services</li>
                                    <li>Integrating components written in different languages in a fundamentally secure way</li>
                                    <li>Developing and deploying cloud based applications</li>
                                </ul>
                        <br>
                            <span>Minimum Qualifications:</span>
                                <ul>
                                    <li>US Citizen or Green Card holder</li>
                                    <li>BS in Computer Science or equivalent practical experience</li>
                                    <li>2 years of experience designing and implementing software systems</li>
                                </ul>
                        <br>
                            <span>Preferred Qualifications:</span>
                                <ul>
                                    <li>MS in Computer Science or Math</li>
                                    <li>3-5 years of experience designing and developing server side applications in one (or more) of C/C++/Java/Python/Ruby in a Linux environment</li>
                                    <li>Proven ability to deliver quality secure, scalable, high performance software</li>
                                    <li>Understanding of multithreading and asynchronous communication</li>
                                    <li>Experience building RESTful web services</li>
                                </ul>
                        </h4>
                        <br>
                        <div class="text-center">
                            <button type="button" class="btn btn-job"><a href="mailto:jobs@manifoldsecurity.com">Come work with us: jobs@manifoldsecurity.com</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end of col-md-6 job desc PART 2   -->
    </div>

    <div id="team-row" class="row text-center">
        <div class="col-md-10 col-md-offset-1">
            <h1>
                <img src="<%= asset_path('header_line.png')%>" style="padding: 0 5px;">
                <span class="title">Team</span>
                <img src="<%= asset_path('header_line.png')%>" style="padding: 0 5px;">
            </h1>
            <div class="row">
                <div class="col-xs-4">
                    <img src="<%= asset_path('chris-finan.png') %>" style="width: 50%;">
                    <h2>Chris Finan</h2>
                    <h3>CEO & Co-Founder</h3>
                </div>
                <div class="col-xs-8 text-left">
                    <p>Chris Finan is CEO and Co-Founder of Manifold Security.  Chris previously led business development for Impermium, a startup specializing in spam prevention and account protection that was acquired by Google.   Prior to that, Chris was the product director for a Department of Defense cyberwarfare research and development program at DARPA.</p>
                    <p>Chris formerly served in the Obama Administration as the Director for Cybersecurity Legislation and Policy on the National Security Council staff in the White House. While serving in the Obama Administration, he was responsible for assisting in the development of the Administration’s cybersecurity legislation proposal, and serving as the lead Executive branch negotiator to Congress for comprehensive cybersecurity legislation. Mr. Finan also spearheaded initial development of the Cybersecurity Executive Order.</p>
                    <p>Chris served seven years in the U.S. Air Force as a pilot and intelligence officer, including a tour in Iraq where he worked as an intelligence officer and counterterrorism liaison to the Iraqi government.  After attending public schools in northeastern Pennsylvania, Mr. Finan studied Political Science and Arabic at the United States Air Force Academy. Mr. Finan is a Truman National Security Project Fellow and has written on Internet freedom, surveillance reform, privacy and cybersecurity issues. He has contributed to WIRED, Politico and the Hill. His proposal for a military cyber-assistance campaign to provide the moderate Syrian opposition with a digital safe haven was featured in the New York Times.</p>
                </div>
            </div>
            <div class="row mid-row-borders">
                <div class="col-xs-4">
                    <img src="<%= asset_path('Malibu-IQ_logo.png') %>">
                </div>
                <div class="col-xs-8 text-left">
                    <p>MalibuIQ, LLC is a private investment partnership located at HRL Laboratories in Malibu, CA. The MalibuIQ team partners scientists and engineers with experienced investors and entrepre-neurs to commercialize technology platforms in the fields of materials science, microelectronics, electromagnetics and information sciences.</p>
                    <p>MalibuIQ has established a partnership with HRL Laboratories to commercialize HRL inventions originally developed for the defense, aerospace and automotive industries.  This partnership combines the extensive intellectual property assets developed at HRL with the entrepreneurial business expertise at MalibuIQ and a pool of committed private capital to rapidly advance these disruptive technologies into new markets.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <img src="<%= asset_path('HRL_image.png') %>">
                </div>
                <div class="col-xs-8 text-left">
                    <p>For more than 60 years, HRL's scientists and engineers have been on the leading edge of tech-nology, conducting pioneering research, providing real-world technology solutions, and advanc-ing the state of the art. We continue to be recognized as one of the world's premier physical sci-ence and engineering research laboratories.</p>
                    <p>Our research collaborations with our LLC Member companies, government, commercial and ac-ademic institutions are realizing groundbreaking advances in ultra-high-performance circuitry, robust computing and communications, automated data extraction, and innovative architected materials. Our technologies operate in space, on aircraft, in automobiles, and in a variety of consumer products. These technologies make us safer, support our national security and im-prove our quality of life.</p>
                    <p>Our success is the result of our collaborative team of researchers, many of whom are the lead-ing experts in their fields. Through their insights in support for our customers, we are finding the unique opportunities in technology. As we look to the future, the technologies we are enabling today will be integral to a prosperous, secure, sustainable world.</p>
                </div>
            </div>
        </div>
    </div>

    <div id="contact-row" class="row text-center">
        <div class="row contact-section">
            <h1><span class="title">Contact</span></h1>
            <div class="col-xs-7 pull-right">
                <h2>contact@manifoldsecurity.com</h2>
                <h2>650-427-0698</h2>

            </div>
        </div>

        <div class="row social-section">
            <h1><span class="title">Connect</span></h1>
            <div class="col-xs-8 col-xs-offset-2">
                <div class="col-xs-4">
                    <a href="https://www.linkedin.com/company/manifold-security" target="_blank">
                        <img src=" <%= asset_path('LinkedIn-logo.png') %>">
                    </a>
                </div>
                <div class="col-xs-4">
                    <a href="https://www.facebook.com/pages/Manifold-Security/640666179373859" target="_blank">
                        <img src=" <%= asset_path('FB-f-Logo__blue_100.png') %>">
                    </a>
                </div>
                <div class="col-xs-4">
                    <a href="https://twitter.com/ManifoldSec" target="_blank">
                        <img src=" <%= asset_path('twitter_logo.png') %>" style="border-radius: 5px;">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div> <!-- end of container-fluid -->
