<nav class="navbar navbar-fixed-top" role="navigation" style="border-bottom:  1px solid lightgrey;">
    <div class="container-fluid navbar-spy">
        <div class="navbar-header">
          
                <img class="navbar-left" src="<%= asset_path('manifold_resized_tran.png') %>" style="padding: 10px 0;">
          
      
                 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" style="padding-top: 9px;">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding-top: 9px;">
        <!-- <div class="col-md-7 col-md-offset-2"> -->
            <ul class="nav nav-justified navbar-right" style=" width: 60%;">
                <li class="active"><a href="#banner-row">Technology</a></li>
                <li><a href="#jobs-row">Jobs</a></li>
                <li><a href="#team-row">Team</a></li>
                <li><a href="#contact-row">Contact</a></li>
            </ul>
        </div>
       <!--  </div> -->
    </div>
</nav>

<div class="container-fluid">
    <div id="banner-row" class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="col-sm-6 col-sm-offset-3">
                <img src="<%= asset_path('Manifold_square_transparent.png') %>" class="img-responsive"/>
            </div>
        </div>
        <div class="col-sm-12 text-center">
            <h2>Maintain sole control over your sensitive data.</h2>
        </div>
    </div>

    <div id="jobs-row" class="row">
        <h1 class="text-center">
            <img src="<%= asset_path('header_line.png')%>" class="title-bar-img" style="padding: 0 5px;">
            <span class="title">Jobs</span>
            <img src="<%= asset_path('header_line.png')%>" class="title-bar-img" style="padding: 0 5px;">
        </h1>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading" style="color: #0A4077;">
                    <h4 class="panel-title" style="line-height: 1.42857143;">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            <h3>Cryptography Architect:</h3>
                            Manifold is seeking an expert in cryptography and in systems security, applications security, network security, and automated malware analysis...
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>This role will focus on extending our patented cryptographic protocols as a platform. This person will be responsible for interfacing our security modules with the java/application code and developers.
                        <br><br>
                            <span>Responsibilities:</span>
                                <ul>
                                    <li>Design and apply advanced security techniques</li>
                                    <li>Develop a platform to implement a new cryptographic protocol</li>
                                    <li>Deploy advanced security and cryptographic systems</li>
                                    <li>Research cutting edge security paradigms</li>
                                    <li>Driving generation of comprehensive architecture and feature specification documents</li>
                                    <li>Integrate cryptography/security code with java/application code</li>
                                    <li>Prepare technical product documentation for use internally</li>
                                    <li>Drive problem-solving strategies for complex issues involving cross-functional disciplines</li>
                                    <li>Estimate and plan implementation effort for feature development</li>
                                    <li>Write high-quality code with emphasis on security, performance, and scalability</li>
                                    <li>Mentor team members in cryptographic applications and security</li>
                                </ul>
                        <br>
                            <span>Qualifications:</span>
                                <ul>
                                    <li>Significant experience in applications security, cryptography, network security, systems security or malware analysis</li>
                                    <li>BS or MS in Computer Science or equivalent</li>
                                    <li>Core Java hands-on programming skills</li>
                                    <li>Excellent interpersonal and communication skills.</li>
                                    <li>Excellent debugging skills, code reviewing capabilities and refactoring skills</li>
                                    <li>Intellectually curious and self-actuated</li>
                                    <li>Exposure to and interest in Open Source frameworks, tools, and technologies</li>
                                    <li>US Citizen or Green Card holder</li>
                                </ul>
                        </p>
                        <br>
                        <div class="text-center">
                            <button type="button" class="btn btn-job"><a href="mailto:jobs@manifoldsecurity.com">Come work with us: jobs@manifoldsecurity.com</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end of col-md-6 job desc PART 1   -->

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading" style="padding-bottom: 27px; color: #0A4077;">
                    <h4 class="panel-title" style="line-height: 1.42857143;">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            <h3>Senior Java Server Developer/Architect:</h3>
                            Manifold is seeking a senior engineer who will be responsible for architecting and developing high-performance java code to implement our highly innovative, patented technology...
                        </a> 
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body" style="font-size: 1gpx;">
                        <p>This is a hands-on role with responsibilities to include scoping, designing and implementing a platform to apply cryptographic advancements. Candidates must be able to carry out complex tasks with minimum guidance, and be comfortable providing detailed guidance to others. Candidates must also be able to concurrently manage multiple complex projects with time-critical requirements.
                        <br><br>
                            <span>Responsibilities:</span>
                                <ul>
                                    <li>Drive the architecture and design, and lead development of high-throughput Java based platform</li>
                                    <li>Design complex programs and specifications; review changes in code and the environment to determine impacts on system performance</li>
                                    <li>Research and recommend software applications/tools to provide technical leadership in developing applications and analyzing business requirements</li>
                                    <li>Drive the generation of comprehensive architecture and feature specification documents</li>
                                    <li>Develop, integrate and implement related application components, server-side development and database integration</li>
                                    <li>Lead test plan development and execution</li>
                                    <li>Prepare technical product documentation</li>
                                    <li>Drive problem-solving strategies for complex issues in cross-functional disciplines</li>
                                    <li>Estimate and plan implementation efforts for feature development</li>
                                    <li>Write high-quality code with emphasis on security, performance, and scalability</li>
                                    <li>Participate actively and contribute to design, development discussions</li>
                                    <li>Perform technical analysis to present pros and cons of potential solutions to problems</li>
                                    <li>Mentor team members</li>
                                </ul>
                        <br>
                            <span>Qualifications:</span>
                                <ul>
                                    <li>BS or MS in Computer Science or equivalent</li>
                                    <li>Core Java hands-on programming skills</li>
                                    <li>Excellent interpersonal and communication skills</li>
                                    <li>Excellent debugging skills, code reviewing capabilities and refactoring skills</li>
                                    <li>Intellectually curious and self-actuated</li>
                                    <li>Exposure to and interest in Open Source frameworks, tools, and technologies</li>
                                    <li>US Citizen or Green Card holder</li>
                                </ul>
                        </p>
                        <br>
                        <div class="text-center">
                            <button type="button" class="btn btn-job"><a href="mailto:jobs@manifoldsecurity.com">Come work with us: jobs@manifoldsecurity.com</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end of col-md-6 job desc PART 2   -->
    </div>

    <div id="team-row" class="row text-center">
        <div class="col-md-10 col-md-offset-1">
            <h1>
                <img src="<%= asset_path('header_line.png')%>" class="title-bar-img" style="padding: 0 5px;">
                <span class="title">Team</span>
                <img src="<%= asset_path('header_line.png')%>" class="title-bar-img" style="padding: 0 5px;">
            </h1>
            <div class="row">
                <div class="col-xs-4">
                    <img src="<%= asset_path('Finan-Pic-2014.jpg') %>" style="width: 85px;">
                    <h4>Chris Finan</h4>
                    <h5>CEO & Co-Founder</h5>
                </div>
                <div class="col-xs-8 text-left">
                    <div class="panel-group" id="accordion">
                        <div class="panel">
                            <div class="panel-heading">
                              <h4 id="teamOne" class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTeamOne">
                                  Chris Finan is CEO and Co-Founder of Manifold Security.  Chris previously led business development for Impermium, a startup specializing in spam prevention and account protection that was acquired by Google.   Prior to that, Chris was the product director for a Department of Defense cyberwarfare research and development program at DARPA...
                                </a>
                              </h4>
                            </div>
                            <div id="collapseTeamOne" class="panel-collapse collapse">
                              <div class="panel-body">
                                <p>Chris formerly served in the Obama Administration as the Director for Cybersecurity Legislation and Policy on the National Security Council staff in the White House. While serving in the Obama Administration, he was responsible for assisting in the development of the Administration’s cybersecurity legislative proposal, and serving as the lead Executive branch negotiator to Congress for comprehensive cybersecurity legislation. Mr. Finan also spearheaded initial development of the Cybersecurity Executive Order.</p>
                                <p>Chris served seven years in the U.S. Air Force as a pilot and intelligence officer, including a tour in Iraq where he worked as an intelligence officer and counterterrorism liaison to the Iraqi government.  After attending public schools in northeastern Pennsylvania, Mr. Finan studied Political Science and Arabic at the United States Air Force Academy. Mr. Finan is a Truman National Security Project Fellow and has written on Internet freedom, surveillance reform, privacy and cybersecurity issues. He has contributed to WIRED, Politico and The Hill. His proposal for a military cyber-assistance campaign to provide the moderate Syrian opposition with a digital safe haven was featured in the New York Times.</p>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mid-row-borders">
                <div class="col-xs-4">
                    <img src="<%= asset_path('Malibu-IQ_logo.png') %>" style="padding-top: 5px;">
                </div>
                <div class="col-xs-8 text-left">
                    <div class="panel-group" id="accordion">
                        <div class="panel">
                            <div class="panel-heading">
                              <h4 id="teamThree" class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTeamThree">
                                  MalibuIQ, LLC is a private investment partnership located at HRL Laboratories in Malibu, CA. The MalibuIQ team partners scientists and engineers with experienced investors and entrepreneurs to commercialize technology platforms in the fields of materials science, microelectronics, electromagnetics and information sciences...
                                </a>
                              </h4>
                            </div>
                            <div id="collapseTeamThree" class="panel-collapse collapse">
                              <div class="panel-body">
                                <p>MalibuIQ has established a partnership with HRL Laboratories to commercialize HRL inventions originally developed for the defense, aerospace and automotive industries.  This partnership combines the extensive intellectual property assets developed at HRL with the entrepreneurial business expertise at MalibuIQ and a pool of committed private capital to rapidly advance these disruptive technologies into new markets.</p>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mid-row-borders">
                <div class="col-xs-4">
                    <img src="<%= asset_path('HRL_image.png') %>">
                </div>
                <div class="col-xs-8 text-left">
                    <div class="panel-group" id="accordion">
                        <div class="panel">
                            <div class="panel-heading">
                              <h4 id="teamFour" class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTeamFour">
                                  For more than 60 years, HRL's scientists and engineers have been on the leading edge of technology, conducting pioneering research, providing real world technology solutions, and advancing the state of the art. We continue to be recognized as one of the world's premier physical science and engineering research laboratories...
                                </a>
                              </h4>
                            </div>
                            <div id="collapseTeamFour" class="panel-collapse collapse">
                              <div class="panel-body">
                                <p>Our research collaborations with our LLC Member companies, government, commercial and academic institutions are realizing groundbreaking advances in ultra-high-performance circuitry, robust computing and communications, automated data extraction, and innovative architected materials. Our technologies operate in space, on aircraft, in automobiles, and in a variety of consumer products. These technologies make us safer, support our national security and improve our quality of life.</p>
                                <p>Our success is the result of our collaborative team of researchers, many of whom are the leading experts in their fields. Through their insights in support for our customers, we are finding the unique opportunities in technology. As we look to the future, the technologies we are enabling today will be integral to a prosperous, secure, sustainable world.</p>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div  id="contact-row" class="row text-center">
        <h1>
            <img src="<%= asset_path('header_line.png')%>" class="title-bar-img" style="padding: 0 5px;">
            <span class="title">Contact</span>
            <img src="<%= asset_path('header_line.png')%>" class="title-bar-img" style="padding: 0 5px;">
        </h1>
    </div>


        <div class="row contact-section">
            <div class="col-sm-6 col-sm-offset-3 text-center">
                <h3>1370 Willow Road, Menlo Park, CA 94025</h3>
                <h3><a href="mailto:contact@manifoldsecurity.com">contact@manifoldsecurity.com</a></h3>
                <h3>650-427-0698</h3>
                
            </div>
        </div>

    <div class="row social-section text-center">
        <div class="col-sm-8 col-sm-offset-2 col-xs-12">
            <div class="col-xs-3">
                <a href="https://www.linkedin.com/company/manifold-security" target="_blank">
                    <img src=" <%= asset_path('LinkedIn-logo.png') %>">
                </a>
            </div>
            <div class="col-xs-3">
                <a href="https://www.facebook.com/pages/Manifold-Security/640666179373859" target="_blank">
                    <img src=" <%= asset_path('FB-f-Logo__blue_100.png') %>">
                </a>
            </div>
            <div class="col-xs-3">
                <a href="https://twitter.com/ManifoldSec" target="_blank">
                    <img src=" <%= asset_path('twitter_logo.png') %>" style="border-radius: 5px;">
                </a>
            </div>
            <div class="col-xs-3">
                <a href="https://plus.google.com/u/0/112529338225821981972/posts"
   rel="publisher" target="_blank" style="text-decoration:none;"><img src="//ssl.gstatic.com/images/icons/gplus-64.png"alt="Google+" style="border:0;width:64px;height:64px;"/>
                </a>
            </div>
        </div>
    </div>
</div> <!-- end of container-fluid -->
