<nav class="navbar skrollable skrollable-between" role="navigation" data-0="top: 400px;" data-400="position: fixed; z-index: 1030; top: 0;" >
    <div class="container-fluid row navbar-spy">
        <div class="navbar-header col-md-3 text-center">
            <img src=" <%= asset_path('Manifold_long_transparent.png') %>" class="img-responsive">
        </div>
        <div class="col-md-7 col-md-offset-2">
            <ul class="nav nav-justified">
                <li class="active"><a href="#banner-row">Technology</a></li>
                <li><a href="#about-row">About</a></li>
                <li><a href="#jobs-row">Jobs</a></li>
                <li><a href="#team-row">Team</a></li>
                <li><a href="#contact-row">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div id="banner-row" class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="col-md-6 col-md-offset-3">
                <img src="<%= asset_path('Manifold_square_transparent.png') %>" class="img-responsive"/>
            </div>
        </div>
    </div>

    <div id="about-row" class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
            <h2>Manifold is changing the security paradigm. We provide a revolutionary encryption key management and secure multiparty transaction platform.</h2>
            <h2>We empower you to maintain sole control over your sensitive data. Any time, any where.</h2>
        </div>
    </div>

    <div id="jobs-row" class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1 class="text-center">Come work with us!</h1>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2>Senior Engineer: Yadda Yadda, job sounds hard.</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2>Junior Engineer: Yadda Yadda, job sounds hard too.</h2>
                </div>
            </div>
        </div>
    </div>

    <div id="team-row" class="row text-center">
        <div class="col-md-10 col-md-offset-1">
            <h1>Manifold Team</h1>
            <div class="row">
                <div class="col-xs-4">
                    <img src="<%= asset_path('chris-finan.png') %>" style="width: 50%;">
                    <h2>Chris Finan</h2>
                    <h3>CEO & Co-Founder</h3>
                </div>
                <div class="col-xs-8 text-left">
                    <p>Chris Finan is CEO and Co-Founder of Manifold Security.  Chris previously led business development for Impermium, a startup specializing in spam prevention and account protection that was acquired by Google.   Prior to that, Chris was the product director for a Department of Defense cyberwarfare research and development program at DARPA.</p>
                    <p>Chris formerly served in the Obama Administration as the Director for Cybersecurity Legislation and Policy on the National Security Council staff in the White House. While serving in the Obama Administration, he was responsible for assisting in the development of the Administration’s cybersecurity legislation proposal, and serving as the lead Executive branch negotiator to Congress for comprehensive cybersecurity legislation. Mr. Finan also spearheaded initial development of the Cybersecurity Executive Order.</p>
                    <p>Chris served seven years in the U.S. Air Force as a pilot and intelligence officer, including a tour in Iraq where he worked as an intelligence officer and counterterrorism liaison to the Iraqi government.  After attending public schools in northeastern Pennsylvania, Mr. Finan studied Political Science and Arabic at the United States Air Force Academy. Mr. Finan is a Truman National Security Project Fellow and has written on Internet freedom, surveillance reform, privacy and cybersecurity issues. He has contributed to WIRED, Politico and the Hill. His proposal for a military cyber-assistance campaign to provide the moderate Syrian opposition with a digital safe haven was featured in the New York Times.</p>
                </div>
            </div>
            <div class="row mid-row-borders">
                <div class="col-xs-4">
                    <img src="<%= asset_path('Malibu-IQ_logo.png') %>">
                </div>
                <div class="col-xs-8 text-left">
                    <p>MalibuIQ, LLC is a private investment partnership located at HRL Laboratories in Malibu, CA. The MalibuIQ team partners scientists and engineers with experienced investors and entrepre-neurs to commercialize technology platforms in the fields of materials science, microelectronics, electromagnetics and information sciences.</p>
                    <p>MalibuIQ has established a partnership with HRL Laboratories to commercialize HRL inventions originally developed for the defense, aerospace and automotive industries.  This partnership combines the extensive intellectual property assets developed at HRL with the entrepreneurial business expertise at MalibuIQ and a pool of committed private capital to rapidly advance these disruptive technologies into new markets.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <img src="<%= asset_path('HRL_image.png') %>">
                </div>
                <div class="col-xs-8 text-left">
                    <p>For more than 60 years, HRL's scientists and engineers have been on the leading edge of tech-nology, conducting pioneering research, providing real-world technology solutions, and advanc-ing the state of the art. We continue to be recognized as one of the world's premier physical sci-ence and engineering research laboratories.</p>
                    <p>Our research collaborations with our LLC Member companies, government, commercial and ac-ademic institutions are realizing groundbreaking advances in ultra-high-performance circuitry, robust computing and communications, automated data extraction, and innovative architected materials. Our technologies operate in space, on aircraft, in automobiles, and in a variety of consumer products. These technologies make us safer, support our national security and im-prove our quality of life.</p>
                    <p>Our success is the result of our collaborative team of researchers, many of whom are the lead-ing experts in their fields. Through their insights in support for our customers, we are finding the unique opportunities in technology. As we look to the future, the technologies we are enabling today will be integral to a prosperous, secure, sustainable world.</p>
                </div>
            </div>
        </div>
    </div>

    <div id="contact-row" class="row text-center">
        <div class="row social-section">
            <div class="col-sm-8 col-sm-offset-2 col-xs-12">
                <div class="col-sm-4 col-xs-4">
                    <a href="https://www.linkedin.com/company/manifold-security" target="_blank">
                        <img src=" <%= asset_path('LinkedIn-logo.png') %>">
                    </a>
                </div>
                <div class="col-sm-4 col-xs-4">
                    <a href="https://www.facebook.com/pages/Manifold-Security/640666179373859" target="_blank">
                        <img src=" <%= asset_path('FB-f-Logo__blue_100.png') %>">
                    </a>
                </div>
                <div class="col-sm-4 col-xs-4">
                    <a href="https://twitter.com/ManifoldSec" target="_blank">
                        <img src=" <%= asset_path('twitter_logo.png') %>" style="border-radius: 5px;">
                    </a>
                </div>
            </div>
        </div>

        <div class="row contact-section">
            <div class="col-xs-6 pull-right">
                <h2>contact@manifoldsecurity.com</h2>
                <h2>650-427-0698</h2>
            </div>
        </div>
    </div>
</div> <!-- end of container-fluid -->
